<div class="overlay">
	<div class="container-fluid" >
	<div class="row">
		<div class="col-xs-3"></div>
		
		<div class="col-xs-6">
		
	<div class="jumbotron">
	<h1>Login Form<h1></div></div>
</div>
<div class="row">
	<div class="col-xs-2"></div>
		<div class="col-xs-3"></div>
 <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill">Home</a></li>
    <li><a data-toggle="pill" ng-href="/#/register" class="reg">Register</a></li>
  </ul>

</div>



    
      <div class="row">
	<div class="login">
	<div class="col-xs-2"></div>
		<div class="col-xs-2"></div>
	<div class="col-xs-4">
		
<form   ng-submit="login()">
	<div class="form-group">
	<label for="name">Username</label>
	
<input type="text"  class="form-control" id="name" name="username" placeholder="Enter name" ng-model="username"><br>
<label for="name">Password</label>
<input type="password" class="form-control" id="pass" name="password" placeholder="Enter password" ng-model="password"><br>
<div class="col-xs-4"></div><input type="submit" class="btn" label="Submit">

</div>
</form >
</div>
</div>
</div>
</div>
</div>

    

  
 
