

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#/blog">Home</a>
                    </li >
                    <li ng-hide="loggedIn">
                        <a ng-href="#/login">Login to write </a>
                        
                    </li>
                    <li ng-show="loggedIn">
                        <a  ng-href="#/writePost">Write Post</a>
                    </li ng-show="loggedIn">
                    <li ng-show="loggedIn">
                        <a   href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{blog.ptitle}}</h1>
                        <h1 class="subheading">{{blog.subtitle}}</h1>
                        <div class="col-xs-4"></div>
                        <span class="meta">Posted by {{blog.author}} on {{blog.date}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    


                    <blockquote>{{blog.post}}</blockquote>


                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
       
                    <p class="copyright text-muted">Copyright &copy; Mubeen Ashraf Tauni</p>
                </div>
            </div>
        </div>
    </footer>

    