<div class="overlay">
	<div class="container-fluid" >
	<div class="row">
		<div class="col-xs-3"></div>
		
		<div class="col-xs-6">
		
	<div class="jumbotron">
	<h1>Login Form<h1></div></div>
</div>
<div class="row">
	<div class="col-xs-2"></div>
		<div class="col-xs-3"></div>
 <ul class="nav nav-pills">
    <li ><a data-toggle="pill"  ng-href="/#/login">Home</a></li>
    <li class="active"><a data-toggle="pill">Register</a></li>
  </ul>

</div>

<div class="row">
<div class="col-xs-4"></div>
<div class="col-xs-4">
<form  ng-submit="register()" >
      <div class="form-group">

	<label for="name">Username</label>
	
	<input type="text"  class="form-control" id="ename" name="username" placeholder="Enter name" ng-model="username" style="margin-down:-20px;"><br>
	<label for="name">Password</label>
	<input type="password" class="form-control" id="epass" name="password" placeholder="Enter password" ng-model="password"><br>
	<label for="email">Email</label>
	<input type="email" class="form-control" id="email" name="email" placeholder="Enter E-mail" ng-model="email"><br>
	<div class="col-xs-4"></div>
	<input type="submit" class="btn" value="register">
	</div>
	</form>

	</div>
    </div>
</div>
</div>

  